html {
  height: 100%;
  width: 100%;
}

body{
  background-color: pink;
}

.heading{
  font-family: "Helvetica";
  color:#00FFCD;
  background-color: #0C4C3F;
}

.bark{
  font-family: 'Sedgwick Ave Display', cursive;
  color:red;
}

.seatgeek{
  font-family: 'BhuTuka Expanded One', serif;
  color:green;
}

.amex{
  font-family: 'Courgette', cursive;
  color:darkcyan;
}

.etsy{
  font-family: 'Pixelify Sans', cursive;
  color:purple;
}

.google{
  font-family: 'Rubik Mono One', sans-serif;
  color:yellow;
}

.paragraph{
  color:white;
  background-color: black;
  font-family: "Helvetica";
}

h2:hover{
  color:aliceblue;
  background-color: slategray;
}

img{
  margin-left: 20%;
  border: 5px solid #00FFCD;
}
